@mixin navigation {
   #list {
       display: flex;
       justify-content: space-around;
       align-items: center;
       height: 100%;
   }

   &-item {
       list-style-type: none;
   }

   &-link {
       color: color(primary);
       text-decoration: none;
       font-size: size(md);
       transition: all .3s;

       &:hover {
           color: darken(color(primary), 20%);
       }
   }
}

@mixin flexPosition($jusCont: center, $alignItem: center) {
    display: flex;
    justify-content: $jusCont;
    align-items: $alignItem;
}

@mixin footerList {
    &-heading {
        font-size: size(lg);
        color: color(primary);
    }

    &-item {
        list-style-type: none;
        margin: 1rem 0;
    }

    &-link {
        font-size: size(sm);
        text-decoration: none;
        color: color(secondary);
        transition: color .2s;

        &:hover {
            color: darken(color(secondary), 15%);
        }
    }
}

@mixin response($breakpoint) {
    @if($breakpoint == xl) {
        @media(max-width: 1200px) {
            @content;
        }
    }
    @if($breakpoint == lg) {
        @media(max-width: 1000px) {
            @content;
        }
    }
    @if($breakpoint == md) {
        @media(max-width: 760px) {
            @content;
        }
    }
    @if($breakpoint == sm) {
        @media(max-width: 560px) {
            @content;
        }
    }
}