@mixin navigation {
   #list {
       display: flex;
       justify-content: space-around;
       align-items: center;
       height: 100%;
   }

   &-item {
       list-style-type: none;
   }

   &-link {
       color: color(primary);
       text-decoration: none;
       font-size: size(md);
       transition: all .3s;

       &:hover {
           color: darken(color(primary), 20%);
       }
   }
}

@mixin flexPosition($jusCont: center, $alignItem: center) {
    display: flex;
    justify-content: $jusCont;
    align-items: $alignItem;
}