@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

$colors: (
    primary: #d9dddc,
    secondary: #d0f0c0,
    tertiary: #996515,
    quaternary: #ffdead
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}


$header-font: 'Viaoda Libre';

$font-sizes: (
    xl: 6rem,
    lg: 2.5rem,
    md: 2rem,
    sm: 1.8rem,
    xs: 1.6rem
);

@function size($size) {
    @return map-get($font-sizes, $size);
}